/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */

svg {
  border: 1px solid orange;
  padding: 10px;
}
.enemies {
  border: 1px solid black;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background-color: black;
}

.playa {
  width: 20px;
  height: 20px;
  background-color: orange;
}